*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
}
body{
    background: #72B0E1;
    font-family: 'Libre Baskerville', serif;
    color: white;
}
.bg{
    height: 772px;
    width: 100%;
    background-image: url(Assets/pezinhos-padrao-azul.png);
    background-size: 1540px;
    opacity: 0.4;
    position: absolute;
    z-index: 0;
}



.home{
    height: 772px;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.menu{  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1050px;
}
.menu img{
    width: 160px;
    height: 100px;
    margin: 5px 0 auto 0;    
}
.menu ul{
    margin: 0 0 0 288px;
}
.menu ul li{
    display: inline;
    margin: auto 0px;
    padding: 16px 32px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
}
.menu ul li:hover{
    background-color: #72B0E1;
    color: white;
}

.corpo-home{
    height: 667px;
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
    gap: 50px; 
}
.bloco1a{
    margin: 0;
    height: 667px;
    width: 500px;
}
.bloco1a h1{
    font-size: 45px;
    margin: 250px 0 0;    
}
.bloco1a p{
    text-align: justify;
}

.bloco1b{
    margin: 0;
    height: 667px;    
    display: flex;
    align-items: center;
}
.bloco1b img{
    width: 500px;
    height: 500px;
       
}



.about{
    height: 772px;    
}

.corpo-about{
    height: 772px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;    
}

.bloco2b{
    margin: 0 auto 0 0;
    height: 772px;
    width: 500px;
}
.bloco2b h2{
    font-size: 45px;
    margin: 275px 0 0;
}
.bloco2b p{
    text-align: justify;
    margin-bottom: 10px;
}

.bloco2a{
    margin: 0 0 0 auto;
    height: 772px;
    width: 500px;
    display: flex;
    align-items: center;
}
.bloco2a img{
    width: 500px;
    height: 299px;
    
}



.galery{
    height: 772px;    
}
.corpo-galery{
    display: flex;
    justify-content: center;
}
.content{
    height: 772px;
    width: 1050px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.content h2{
    font-size: 45px;   
}

.slider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.frame{
    border: 5px solid #FFCC29;
    background-color: rgba(27, 34, 97,0.7);
    border-radius: 15%;
    width: 450px;
    height: 450px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.frame img{
    height: 450px;
    position: absolute;
}

.button-left{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.button-left:hover{
    background-color: rgb(255, 255, 160,0.2);
    transition: 0.3s;
}
.button-left img{
    height: 75px;
}
.button-right{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.button-right:hover{
    background-color: rgb(255, 255, 160,0.2);
    transition: 0.3s;
}
.button-right img{
    height: 75px;
}



.contact{
    height: 772px;    
}

.corpo-contact{
    height: 772px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.bloco3{
    height: 386px;
    width: 1050px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 50px;
}
.email-adress{
    height: 386px;
    width: 1050px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 25px;
    padding: 25px;    
}
.email-adress-text{
    opacity: 0;   
}
.logo1{
    width: 112px;
    height: 112px;
}
.logo2{
    width: 112px;
    height: 112px;
}
.logo3{
    width: 112px;
    margin: 0 0 10px 0;
    cursor: pointer;   
}



.info{
    height: 100px;
    background: #1B2261;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.corpo-info{  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1050px;
    height: 100px;
}



@media screen and (max-width: 912px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bg {
        height: 740px;
        width: 100vw;
        background-size: 740px;
    }
    .home{
        height: 740px;
    }
    .menu{
        width: 100vw;
        height: 72px;
    }
    .menu img{
        width: 64px;
        height: 40px;
    }
    .menu ul{
        margin: 0 0 0 40px;
    }
    .menu ul li{
        margin: 0px;
        padding: 16px 10px;        
        font-size: 9px;
    }
    .menu ul li:hover{
    }


    .corpo-home{
        width: 100vw;
        gap: 10px;
    }
    .bloco1a{
        margin: 0 0 0 10px;
       height: 667px;
        width: 175px;
    }
    .bloco1a h1{
        font-size: 25px;
        margin: 250px 0 0;    
    }
    .bloco1a p{
        text-align: justify;
        font-size: 10px;
    }
    
    .bloco1b{
        margin: 0 10px 0 0;
        height: 667px;    
        display: flex;
        align-items: center;
    }
    .bloco1b img{
        width: 175px;
        height: 175px;           
    }
    
    .about{
        height: 740px;
    }
.corpo-about{
        width: 100vw;
        height: 740px;
        gap: 10px;
    }
    .bloco2b{
        margin: 0 10px 0 0;
        height: 740px;
        width: 175px;
    }
    .bloco2b h2{
        font-size: 25px;
        margin: 250px 0 0;    
    }
    .bloco2b p{
        text-align: justify;
        font-size: 10px;
    }
    
    .bloco2a{
        margin: 0 0 0 10px;
        height: 740px;
        width: 175px;    
        display: flex;
        align-items: center;
    }
    .bloco2a img{
        width: 160px;
        height: 100px;           
    }

    .galery{
        height: 740px;   
    }
    .corpo-galery{        
        width: 100vw;
    }
    .content{
        height: 740px;
        width: 100vw;
    }
    .content h2{
        font-size: 45px;
    }
    
    .slider{
        position: relative;
        gap: 0px;
    }
    .frame{       
        width: 300px;
        height: 300px;
    }
    .frame img{
        height: 300px;
    }
    
    .button-left{
        width: 75px;
        height: 75px;
        position: absolute;
        top: 350px;
        right: 200px;        
    }
    .button-left img{
        height: 50px;
    }
    .button-right{
        width: 75px;
        height: 75px;
        position: absolute;
        top: 350px;
        left: 200px;
    }
    .button-right img{
        height: 50px;
    }

    .contact{
        height: 740px;    
    }
    .bloco3{
        height: 370px;
        width: 100vw;        
        gap: 10px;
    }
    .email-adress{
        height: 370px;
        width: 100vw;
        font-size: 15px;
    }
    .logo1{
        width: 56px;
        height: 56px;
    }
    .logo2{
        width: 56px;
        height: 56px;
    }
    .logo3{
        width: 56px;   
    }
    
    .info{
        height: 100px;
        width: 100vw;
    }
    .corpo-info{
        width: 100vw;
        height: 100px;
        font-size: 13px;
    }
}